
.simulationPage{
    display: flex;
    padding: 0;
    justify-items: center;
    
}

.simulationPage__title{
    width: 100%;
}

.simulation__left, .simulation__right{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.time{
    display: flex;
}

.paused{
    background-color: #d765a0;
    padding: 10px;
    border-radius: 5px;
}

.--mainProcess{
    width: 100%;
}