
.simulationPage{
    display: flex;
    padding: 0;
    justify-items: center;
    
}

.simulationPage__title{
    width: 100%;
}

.simulation__left, .simulation__right{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.time{
    display: flex;
}

.paused{
    background-color: #d765a0;
    padding: 10px;
    border-radius: 5px;
}

.--mainProcess{
    width: 100%;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }